
.el-tabs__nav-wrap::after {
    display: none;
}
.el-tabs__item {
    font-size: 15px;
    font-weight: 500;
}
.blbl-color {
    color: #FB7299 !important;
}
.blbl-color-hover:hover {
    color: #FB7299 !important;
}
.blbl-bgc {
    background-color: #FB7299;
}
.main-text-color {
    color: rgb(231,233,235)
}

.drag {
    /*-webkit-app-region: drag;*/
    --wails-draggable:drag
}
.no-drag {
    /*-webkit-app-region: no-drag;*/
    --wails-draggable: no-drag
}
::-webkit-scrollbar {
    width: 5px;
    /*background-color: #C0C4CC;*/
}
::-webkit-scrollbar-thumb {
    background-color: #46494D;
}
* {
    margin: 0;
    padding: 0;
}
html,
body,
#app {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 14px;
}
.hand {
    cursor: pointer
}
.no-select {
    user-select: none;
}
.copyable-text {
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE 10+ */
    user-select: text;
}
.line_1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.line_2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.line_3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* 隐藏滚动条 */
.hideScrollbar ::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    -webkit-appearance: none;
    background: transparent;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.items-center {
    align-items: center;
}
.items-baseline {
    align-items: baseline;
}
.items-stretch {
    align-items: stretch;
}
.self-start {
    align-self: flex-start;
}
.self-end {
    align-self: flex-end;
}
.self-center {
    align-self: center;
}
.self-baseline {
    align-self: baseline;
}
.self-stretch {
    align-self: stretch;
}
.flex-1 {
    flex: 1 1 0%;
}
.flex-auto {
    flex: 1 1 auto;
}
.grow {
    flex-grow: 1;
}
.grow-0 {
    flex-grow: 0;
}
.shrink {
    flex-shrink: 1;
}
.shrink-0 {
    flex-shrink: 0;
}
.relative {
    position: relative;
}